html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: none;
}
body,
textarea,
input,
button,
select,
keygen,
legend {
  font: 14px/1.5 'Microsoft YaHei UI','Microsoft YaHei',Roboto,Helvetica,Arial,Verdana,sans-serif;
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
input,
select {
  outline: none;

  appearance: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: bold;
}
del,
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}
*,
:after,
:before {
  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;
}
textarea {
  overflow: auto;
  resize: none;
}
blockquote,
q {
  quotes: none;
}
a,
button {
  cursor: pointer;
}
*[hidden] {
  display: none;
}
ol,
ul,
li {
  list-style: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #999;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}
:root {
  --color: #333;
}
:root[theme='light'] {
  --color: #fff;
  background-color: #2c3e50;
}
